{% extends "base.html" %}


{% block title %} 
Converge PongBoard Matches
{% endblock %}

{% block content %}
<main>
<div class="container">    
    <a id="home-page-link" href="{% url 'home' %}">Back to leaderboard</a>

    <table class="table" id="matches">
        <thead>
            <tr>
                <th>Date</th>
                <th>Winner</th>
                <th>Loser</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
        {% for match in matches %}
            <tr id='match'>
                <td>{{ match.date }}</td>
                <td><a href="/player/{{ match.winner.id }}">{{ match.winner }}</a></td>
                <td><a href="/player/{{ match.loser.id }}">{{ match.loser }}</a></td>
                <td>{{ match.score }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <span id="paginator">
        {% if matches.has_previous %}
            <a id="previous-page-link" href="{% url 'all_matches' %}?page={{ matches.previous_page_number }}">Previous</a>
        {% endif %}

        <span id="current-page">
            Page {{ matches.number }} of {{ matches.paginator.num_pages }}
        </span>

        {% if matches.has_next %}
            <a id="next-page-link" href="{% url 'all_matches' %}?page={{ matches.next_page_number }}">Next</a>
        {% endif %}
    </span>
    </div>
</main>
{% endblock %}