{% extends "base.html" %}


{% block title %} 
Converge PongBoard Leaderboard
{% endblock %}

{% block extracontent %} 
{% load leaderboard_extras %}
{% endblock %}

{% block content %}

<main>
    <div class="container">       
        {% if user.is_authenticated %}
            <form id="player-form" action="/" method="POST">
                <fieldset>
                    <legend>Add player:</legend>
                    {% csrf_token %}
                    {{ player_form.as_p }}
                    <input type="submit" value="Add Player">
                </fieldset>
            </form>

            <form id="match-form" action="/" method="POST">
                <fieldset>
                    <legend>Submit match:</legend>
                    {% csrf_token %}
                    {{ match_form.as_p }}
                    <input type="submit" value="Submit Match">
                </fieldset>
            </form>
        {% endif %}

        {% if num_ranked_players >= 3 %}
            
            <canvas id="top_players" width="10" height="6"></canvas>

            {{ top_three_names|json_script:"top_three_names" }}
            {{ top_three_scores|json_script:"top_three_scores" }}
            <script id="top_players_graph" type="text/javascript" src="/static/js/top_players_graph.js">


            </script>

        {% endif %}

        <table class="table" id="leaderboard">
            <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Name</th>
                    <th scope="col">Rating</th>
                    <th scope="col">GP</th>
                    <th scope="col">W</th>
                    <th scope="col">L</th>
                    <th scope="col">Win%</th>
                    <th scope="col">PPG</th>
                    <th scope="col">AvgDiff</th>
                </tr>
            </thead>
            <tbody>
            {% for ranked_player in ranked_players %}
                    <tr id='player-ranking'>
                        <td scope="col">{{ forloop.counter }}</td>
                        <td scope="col"><a href="/player/{{ ranked_player.player.id }}">{{ ranked_player.player.full_name }}</a></td>
                        <td scope="col">{{ ranked_player.rating }}</td>
                        <td scope="col">{{ ranked_player.games_played }}</td>
                        <td scope="col">{{ ranked_player.wins }}</td>
                        <td scope="col">{{ ranked_player.losses }}</td>
                        <td scope="col">{{ ranked_player.win_percent|percentage:1 }}</td>
                        <td scope="col">{{ ranked_player.points_per_game|floatformat }}</td>
                        <td scope="col">{{ ranked_player.avg_point_differential|stringformat:"+.1f" }}</td>
                    </tr>
                
            {% endfor %}
            {% for unranked_player in unranked_players %}
                <tr id='player-ranking'>
                    <td>N/A</td>
                    <td>{{ unranked_player.player.full_name }}</td>
                    <td>{{ unranked_player.rating }}</td>
                    <td>{{ unranked_player.games_played }}</td>
                    <td>{{ unranked_player.wins }}</td>
                    <td>{{ unranked_player.losses }}</td>
                    <td>{{ unranked_player.win_percent|percentage:1 }}</td>
                    <td>{{ unranked_player.points_per_game|floatformat }}</td>
                    <td>{{ unranked_player.avg_point_differential|stringformat:"+.1f" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if unranked_players %}
            <p id='unranked-warning'>Note: you must play a minimum of 5 games before being ranked.</p>
        {% endif %}


        <hr/>

        <canvas id="all_players" width="10" height="6"></canvas>

        {{ names|json_script:"names" }}
        {{ scores|json_script:"scores" }}
        <script id="all_players" type="text/javascript" src="/static/js/all_players_graph.js">

        </script>

        <hr/>

        <h3 class="text-center">Match Feed</h3>

        <ul class="list-group list-group-dividered list-group-full">
            {% for match in recent_matches %}
            <li class="list-group-item">
              <div class="media">
                <div class="media-left">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <a href="/player/{{ match.winner.id }}">{{ match.winner }}</a> defeated <a href="/player/{{ match.loser.id }}">{{ match.loser }}</a> {{ match.score }}
                  </h4>
                  <small>{{ match.date }}</small>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        <a id="all-matches-link" href="{% url 'all_matches' %}">See all matches</a>

        <h6><a href="https://www.pongfit.org/official-rules-of-table-tennis">Rules</a></h6>
    </div>
</main>
{% endblock %}